asgiref==3.5.2
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.1
Django==4.1.2
django-crispy-forms==1.14.0
django-daraja==1.2.0
idna==3.4
psycopg2==2.9.5
pycparser==2.21
python-decouple==3.6
requests==2.28.1
sqlparse==0.4.3
tzdata==2022.5
urllib3==1.26.12
whitenoise==6.2.0
