{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.css' %}">
    <!-- css file --> 
<link rel="stylesheet" href="{% static 'main/main.css' %}">

</head>
<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
              <div class="card rounded-3">
                <div class="card-body p-4">
                    <div class="container-fluid">
                        <div class="col-lg-8 col-md-8">
                           {% if messages %}
                           {%for message in messages %}
                           <div class="alert alert-{{ message.tags }}">
                              {{ message }}</div>
                           {%endfor%}
                           {% endif %}
                           </div>
                {% block content %} 
                {% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <script src="{% static 'main/bootstrap/js/bootstrap.js' %}"></script>
      
</body>
</html>